* {
  font-family: "Proza Libre", serif;
}

textarea,
input {
  outline-color: #562b81;
  padding: 10px;
}

.purple-background {
  background-color: #562b81;
}

.grey-background {
  background-color: #f0f0f0;
}

.text-white {
  color: white;
}

.image {
  object-fit: cover;
  padding: 0;
}

.width-full {
  width: 100%;
}

.round-border {
  border-radius: 3px;
}

.text-border {
  border: 1px solid #b6b6b6;
}

.button-border {
  border: none;
}

.no-margin {
  margin: 0;
}

.header {
  height: 50px;
}

.align-center {
  align-items: center;
}

.block-display {
  display: block;
  width: 100%;
}

.padding-ten {
  padding-bottom: 10px;
}

.padding-twenty {
  padding-bottom: 20px;
}

.position-relative {
  position: relative;
}

.textarea-box {
  height: 150px;
  resize: none;
}

.text-box {
  height: 40px;
}

.button-position {
  position: absolute;
  right: 0;
}

.page-bottom {
  margin-bottom: 50px;
}

.header-text {
  font-size: 20px;
}

.header-entries {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  margin: 0 15px;
}

.notes-text {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

.list {
  list-style: none;
  padding-inline-start: 0;
}

.submit-button {
  padding: 6px 15px;
}

.new-entry-button {
  padding: 5px 10px;
}

.no-entries {
  text-align: center;
}

.edit-icon {
  color: #562b81;
  margin: 0;
  position: absolute;
  right: 0;
}

.delete-button {
  color: red;
  position: static;
  font-family: Roboto, sans-serif;
  text-decoration: underline;
  font-size: 14px;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  justify-content: center;
  height: 100vh;
  width: 100%;
  z-index: 3;
}

.confirmation-box {
  width: 350px;
  height: 150px;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  position: sticky;
  opacity: revert-layer;
}

.cancel-button {
  position: absolute;
  bottom: 15px;
  left: 15px;
  background-color: #b6b6b6;
  padding: 5px 10px;
}

.confirm-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: #dc2625;
  color: white;
  padding: 5px 10px;
}

div.confirmation-box p {
  padding-top: 20px;
}
